.message {
  display: grid;
  grid-template-columns: 64px auto;
  grid-template-rows: 24px auto;
  grid-template-areas:
    "a b"
    "a c";
  column-gap: 8px;
  border-bottom: 1px solid #ddd;
  padding: 16px;
}
.message__avatar {
  grid-area: a;
}
.message__avatar .avatar {
  height: auto;
}
.message__author {
  grid-area: b;
  font-weight: bold;
  font-size: 1.6rem;
}
.message__text {
  grid-area: c;
}