.form {
  padding: 16px;
}
.form-field + .form-field {
  margin-top: 16px;
}

select {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid teal;
  min-height: 32px;
  padding: 0 8px;
}